/* intuitivnejsi box-sizing */
*,
:after,
:before {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.blok {
  padding: 20px;
}

.horni {
  background-color: #f1c40f;
}
.prvni {
  background-color: #2ecc71;
}
.druhy {
  background-color: #e74c3c;
}
.treti {
  background-color: #8e44ad;
}

/* ---------------------------------------------------- */

/*
	Nakóduj stránku podle obrázku zadani-ukolu.jpg.
	Rozložení stránky se mění v breakpointech:
	- 640px
	- 1000px
*/

.kontejner {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

@media (min-width: 640px) {
  .kontejner {
    flex-direction: row;
  }

  .horni {
    flex-basis: 100%;
  }

  .prvni,
  .druhy {
    flex-basis: 50%;
  }

}

@media (min-width: 1000px) {
  .prvni,
  .druhy,
  .treti {
    flex-basis: 33.333333%;
  }

}
